<beans:beans xmlns="http://www.springframework.org/schema/security"
			 xmlns:beans="http://www.springframework.org/schema/beans"
			 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
			 xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
           http://www.springframework.org/schema/security
           http://www.springframework.org/schema/security/spring-security-3.2.xsd">

<beans:bean id="appUserDetailsService" class="erp.realcoresystems.pe.security.AppUserDetailsService" />

	<beans:bean id="exceptionTranslationFilter" class="org.springframework.security.web.access.ExceptionTranslationFilter">
		<beans:property name="accessDeniedHandler" ref="jsfAccessDeniedHandler"/>
		<beans:property name="authenticationEntryPoint" ref="authenticationEntryPoint"/>
	</beans:bean>

	<beans:bean id="jsfAccessDeniedHandler" class="erp.realcoresystems.pe.security.util.JsfAccessDeniedHandler">
		<beans:property name="loginPath" value="/siga/excepciones/accesoDenegado.xhtml" />
		<beans:property name="contextRelative" value="true" />
	</beans:bean>

	<beans:bean id="authenticationEntryPoint" class="erp.realcoresystems.pe.security.util.JsfLoginUrlAuthenticationEntryPoint">
		<beans:property name="loginFormUrl" value="/login.xhtml"/>
		<beans:property name="redirectStrategy" ref="jsfRedirectStrategy" />
	</beans:bean>
	
	<beans:bean id="jsfSuccessAuthenticationHandler" class="erp.realcoresystems.pe.security.util.JsfSuccessAuthenticationHandler">
		<beans:property name="paginaInicio" value="/vistas/modulos/bandejaPortalIndex.jsf"/>
	</beans:bean>

	<beans:bean id="jsfRedirectStrategy" class="erp.realcoresystems.pe.security.util.JsfRedirectStrategy"/>


	<http pattern="/login.xhtml" security="none" />
	<http pattern="/resources/**" security="none" />
	<http pattern="/contracts/**" security="none" />
	<http pattern="/template/**" security="none" />
	<http pattern="/vistas/externos/**" security="none" />
	<http pattern="/excepciones/error.xhtml" security="none" />
	<http pattern="/javax.faces.resource/**" security="none" />
	<http pattern="/images/**" security="none" />

	<http auto-config="false" use-expressions="true">
		<custom-filter ref="exceptionTranslationFilter" before="FILTER_SECURITY_INTERCEPTOR" />

		<intercept-url pattern="/inicio.xhtml" access="isAuthenticated()" />
		<intercept-url pattern="/contracts/default/**" access="isAuthenticated()" />
		<intercept-url pattern="/WEB-INF/portal/**" access="isAuthenticated()" />
		<intercept-url pattern="/template/**" access="isAuthenticated()" />
		<intercept-url pattern="/excepciones/accesoDenegado.xhtml" access="isAuthenticated()" />
		<intercept-url pattern="/vistas/comercial/**" access="hasAnyRole('ADMINISTRADOR')" />
		<!--<intercept-url pattern="/programacion/**" access="hasAnyRole('VENDEDORES', 'AUXILIARES', 'ADMINISTRADORES')" />
        <intercept-url pattern="/cliente/**" access="hasAnyRole('ADMINISTRADORES')" />
        <intercept-url pattern="/login/**" access="hasAnyRole('ADMINISTRADORES')" />
        <intercept-url pattern="/bus/**" access="hasAnyRole('ADMINISTRADORES')" />
        <intercept-url pattern="/terminal/**" access="hasAnyRole('ADMINISTRADORES')" />
        <intercept-url pattern="/recorrido/**" access="hasAnyRole('ADMINISTRADORES')" />
        <intercept-url pattern="/reportes/**" access="hasAnyRole('VENDEDORES','ADMINISTRADORES')" />-->
		<intercept-url pattern="/**" access="hasAnyRole('ADMINISTRADOR','ADMINISTRATIVO')" />

		<form-login login-page="/login.xhtml" authentication-failure-url="/login.xhtml?invalid=true"
					default-target-url="/" always-use-default-target="true" />
		<logout logout-url="/j_spring_security_logout"
				delete-cookies="JSESSIONID,SPRING_SECURITY_REMEMBER_ME_COOKIE" invalidate-session="true"
				logout-success-url="/login.xhtml" />
	</http>

	<authentication-manager>
		<authentication-provider user-service-ref="appUserDetailsService">
			<!-- 			<password-encoder hash="md5" /> -->
			<!-- 			<password-encoder hash="plaintext" /> -->
		</authentication-provider>
	</authentication-manager>

</beans:beans>