.styleEvent1 {
	background: #458b74;
}

.styleEvent2 {
	background: #4f5066;
}

.styleEvent3 {
	background: #cd6600;
}

.styleEvent4 {
	background: #cd5c5c;
}

.styleEvent5 {
	background: #808080;
}

.styleEvent6 {
	background: #c39797;
}

.styleEvent7 {
	background: #b2d080;
}

.styleEvent8 {
	background: #34b7ea;
}

.styleEvent9 {
	background: #daa520;
}

.styleEvent10 {
	background: #3b5998;
}

.styleEvent11 {
	background: #eed5b7;
}

.styleEvent12 {
	background: #9fb6cd;
}

.styleEvent13 {
	background: #7d26cd;
}

.styleEvent14 {
	background: #8b475d;
}

.styleEvent15 {
	background: #548b54;
}

.styleEvent16 {
	background: #8db6cd;
}

.styleEvent17 {
	background: #1874cd;
}

.styleEvent18 {
	background: #8b8378;
}

.styleEvent19 {
	background: #7e8851;
}

.styleEvent20 {
	background: #d2b48c;
}