/***BORDER GRD **

	antes	#1c85b8
	ahora	#00A65A
*/

/*
.ui-datatable-odd {
	background: #ffffff;
}
.ui-datatable-even {
	background: #F2F5F9;
}
.highlight {
	background: yellow !important;
}

.input-width{
	width: 85% !important;
}
.input-width-seven{
	width: 70% !important;
}
.input-width-medium{
	width: 40% !important;
}
.input-width-small{
	width: 20% !important;
}	
*/

.required-field{
	background-color: #FBF9CF !important;		
}
.required-field .ui-selectonemenu-label{
	background-color: #FBF9CF !important;
	
}
.required-field .hasDatepicker{
	background-color: #FBF9CF !important;
}
.required-field .ui-datalist-content{
	background-color: #FBF9CF !important;
	min-height:60px !important
}


.required-field input[type=text]{
	background:  #FBF9CF !important; /*#dea18d*/
}


.footer-custom {
	font-style:italic;
	margin-bottom: 20px;
}
.colTableEstadoActivo{
	
	color: #284A89;
}
.colTableEstadoInactivo{
	
	color:#990000;
}			
.colTableStyleBlue01{
	
	color:#284A89;
}
.colTableStyleRed01{
	
	color:#990000;
}			
.colTableStyleGreen01{
	
	color:#097718;
}				
.colTableStyleYellow01{
	
	color:#C99934;
}							
.colTableStyleGray01{
	
	color:#232E35;
}
.colTableStyleRed02{
	
	color:#FF1010;
}
.colTableStyleOrange01{		
	color:#E66108;
}

.colAsistPresente .ui-selectonemenu-label{
	font-weight:bold;
	color: #41893d;
}
.colAsistTardanza .ui-selectonemenu-label{
	font-weight:bold;
	color: #d3d408;
}
.colAsistFalta .ui-selectonemenu-label{
	font-weight:bold;
	color: #e5741f;
}


.colTableStyleBlue01 .ui-selectonemenu-label{
	font-weight:bold;	
	color:#284A89;
}
.colTableStyleRed01 .ui-selectonemenu-label{
	font-weight:bold;	
	color:#990000;
}	
.colTableStyleGreen01 .ui-selectonemenu-label{
	font-weight:bold;	
	color:#097718;
}
.colTableStyleYellow01 .ui-selectonemenu-label{
	font-weight:bold;	
	color:#C99934;
}	
.colTableStyleGray01 .ui-selectonemenu-label{
	font-weight:bold;	
	color:#232E35;
}
.colTableStyleRed02 .ui-selectonemenu-label{
	font-weight:bold;	
	color:#FF1010;
}

.colTableStyleOrange01 .ui-selectonemenu-label{
	font-weight:bold;	
	color:#E66108;
}

.disabled-field{
	background-color: #B3B395 !important;				
}

.uppercase{
	text-transform: uppercase;
}
.foo-two-columns tbody tr td {
	width : 50%;
    vertical-align: top;
    horizontal-align: left;
}
.foo tbody tr td {
	vertical-align: top;
	horizontal-align: left;
}


	.lbMainheader {
		    display: block;
		    width: 100%;
		    padding: 0;
		    margin-bottom: 2px;
		    font-size: 21px;
		    line-height: inherit;
		    color: #8a8888;
		    border: 0;
		    border-bottom: 1px solid #e5e5e5;
		}
	.lbMainConten {			
		    display: block;
		    width: 100%;
		    padding: 0;
		    margin-bottom: 10px;
		    font-size: 18px;
		    line-height: inherit;
		    color: #333;
		    border: 0;
		    font-weight:bold;	
		    border-bottom: 1px solid #e5e5e5;
		    padding-left: 2px;
		}			
		.lbConten {			
		    display: block;
		    width: 100%;
		    padding: 0;
		    margin-bottom: 2px;
		    font-size: 16px;
		    line-height: inherit;
		    color: #333;
		    border: 0;
		    font-weight:normal;
		    border-bottom: 1px solid #e5e5e5;
		    padding-left: 20px;
		}			
					
		.ui-confirm-dialog-message {
		    display: block;
		    width: 100%;
		    padding: 0;
		    margin-bottom: 2px;
		    font-size: 18px;
		    line-height: inherit;
		    color: #333;
		    border: 0;
		    font-weight:normal;
		    border-bottom: 1px solid #e5e5e5;
		    padding-left: 20px;
		}	
		.customHr {
		    width: 99%;
		    font-size: 1px;
		    color: #797979;
		    line-height: 1px;		
		    background-color: #bfbfbf;
		    
		}		
		
/*
.inputTextStyle {
	background-color: pink !important;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
  color: #1e68b8;
  background-color: #2c5ba4;
  border-color: #1e68b8;
}
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
  background-image: none;
}
.btn-primary.disabled,
.btn-primary[disabled],
fieldset[disabled] .btn-primary,
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled.focus,
.btn-primary[disabled].focus,
fieldset[disabled] .btn-primary.focus,
.btn-primary.disabled:active,
.btn-primary[disabled]:active,
fieldset[disabled] .btn-primary:active,
.btn-primary.disabled.active,
.btn-primary[disabled].active,
fieldset[disabled] .btn-primary.active {
  background-color: #337ab7;
  border-color: #2e6da4;
}
.btn-primary .badge {
  color: #0967b8;
  background-color: #fff;
}



	#Tabs ul {
		padding: 0px;
		margin: 0px;
		margin-left: 0px;
		list-style-type: none;
	}
	
	#Tabs ul li {
		display: inline-block;
		clear: none;
		float: left;
		height: 24px;		
	}
	*/
	
	/*
	#Tabs ul li a {
		position: relative;
		margin-top: 2px;
		display: block;
		margin-left: 6px;
		line-height: 24px;
		padding-left: 10px;
		background: #f6f6f6;
		z-index: 9999;
		border: 1px solid #ccc;
		border-bottom: 0px;
		
		// The following four lines are to make the top left and top right corners of each tab rounded. 
		-moz-border-radius-topleft: 4px;
		border-top-left-radius: 4px;
		-moz-border-radius-topright: 4px;
		border-top-right-radius: 4px;
		 // end of rounded borders 
		
		width: 130px;
		color: #000000;
		text-decoration: none;
		font-weight: bold;
	}
	
	#Tabs ul li a:hover {
	text-decoration: underline;
	}
	
	#Tabs #Content_Area {
		padding: 0 0px;
		clear:both;
		overflow:hidden;
		line-height:19px;
		position: relative;
		top: 5px;
		z-index: 5;
		height: 100%;
		overflow: hidden;
	}			

		.ui-datatable table {
			border-collapse: collapse !important;
			width: 100% !important;
			table-layout: auto !important;
		}	
		.ui-datatable tfoot td {
		    padding: 4px 10px;
		    overflow: hidden;
		    border-width: 1px;
		    border-style: solid;
		}
		table {
			display: table !important;
			border-collapse: separate !important;
			border-spacing: 2px !important;
			border-color: black !important;
		}
		.ui-datatable tbody td {
    		border-color: #14C676;
		}

		
	.ui-fieldset, .ui-fieldset .ui-fieldset-legend {
	    padding: .2em 1em;
	        padding-top: 0.6em;
	        padding-right: 1em;
	        padding-bottom: 0.6em;
	        padding-left: 1em;
	}		

	*/
	
.colorgraph {
    height: 5px;
    border-top: 0;
    background: #c4e17f;
    border-radius: 5px;
    background-image: -webkit-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
    background-image: -moz-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
    background-image: -o-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
    background-image: linear-gradient(to right, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
}	
/*
.ui-dialog.ui-widget-content .ui-dialog-title {
	font-size: 16px;
}
			
.ui-dialog.ui-widget-content .ui-dialog-titlebar {
	height: 40px;
}
			
.ui-dialog.ui-widget-content .ui-dialog-titlebar-close {
  	margin-top: 0px;
}

.ui-widget-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;


.textAreaNoResize textarea {
	 resize: none;
}

.menuSelected {
    background-color: #00E67E;
}

    
}
*/

.estiloLabelForm{
	/**OBS: Con ADMIN LTE no es necesario*/
	/**font-family:'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif; 
	font-style: normal ;
	font-weight: normal;			
	color: #7f7783 !important;
	*/
	color: #7f7783 !important;	
	
}		

.estiloValueForm{
	/**OBS: Con ADMIN LTE no es necesario*/
	/** font-family:'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif; 
	font-style: normal ;	
	*/
	font-weight: bold !important;
	color: #000000bd !important;
}

.sinpadding [class*="col-"] {
    padding: 0;
}


/**ADD*/
.red-T1-field{
	background-color: #E0974D !important;		
}

.green-T1-field{
	background-color: #39CC71 !important;		
}