.colorSelected {
	background: #FAFCBE;
	font-size: 9px;
}

.color1 {
	background: #458b74;
	color: black;
}

.color2 {
	background: #4f5066;
	color: black;
}

.color3 {
	background: #cd6600;
	color: black;
}

.color4 {
	background: #cd5c5c;
	color: black;
}

.color5 {
	background: #808080;
	color: black;
}

.color6 {
	background: #c39797;
	color: black;
}

.color7 {
	background: #b2d080;
	color: black;
}

.color8 {
	background: #34b7ea;
	color: black;
}

.color9 {
	background: #daa520;
	color: black;
}

.color10 {
	background: #3b5998;
	color: black;
}

.color11 {
	background: #eed5b7;
	color: black;
}

.color12 {
	background: #9fb6cd;
	color: black;
}

.color13 {
	background: #7d26cd;
	color: black;
}

.color14 {
	background: #8b475d;
	color: black;
}

.color15 {
	background: #548b54;
	color: black;
}

.color16 {
	background: #8db6cd;
	color: black;
}

.color17 {
	background: #1874cd;
	color: black;
}

.color18 {
	background: #8b8378;
	color: black;
}

.color19 {
	background: #7e8851;
	color: black;
}

.color20 {
	background: #d2b48c;
	color: black;
}